* {
    margin:0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(./imagens/fundo.png)repeat-x;
}
.container{
    width: 750px;
    margin: 0 auto;
}
.topo{
    height: 150px;
    background: url(./imagens/detalhe-topo.png) no-repeat right top;
    margin-top: 10px;
    padding-top: 25px;
}
.menu_topo{
    margin-top: -45px;
    background: #b10333;
    
}
.menu_topo a{
    background: #b10333 url(./imagens/divisor.png) no-repeat left;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 2.1em;
    text-decoration: none;
    color:#fff;
    
}
.menu_topo a:first-child{
    background: #b10333;
}
.menu_topo a:hover{
    color: #69001d;
}
body.home .menu_topo a#home,
body.brasil .menu_topo a#brasil,
body.internacional .menu_topo a#internacional,
body.saude .menu_topo a#saude,
body.ciencia .menu_topo a#ciencia,
body.fotos .menu_topo a#fotos{
    color: #fff;
    background: #de003e;
    cursor: text;
}
.conteudo{
    margin-top: 100px;
    background: #f5f5f5;

}
.central, #tres_colunas{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}
#duas_colunas{
    width: 555px;
    float: left;
    margin: 0 0 20px 195px;
}
#uma_coluna{
    width: 750px;
    float: left;
    margin: 0 0 20px 0px;
}
.central_direita{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}
.esquerda{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}
.box{
    margin: 10px 0;
    padding: 5px 0 5px 0;
    background: #f3f3f3 url(./imagens/fundo-caixa.png);
}
.box h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}
/* Formatação menu lateral*/
.menu_lateral, .destaques, .entrevistas{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}
ul{
    margin: 0;
    list-style: none;
}
.menu_lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}
.menu_lateral ul a:hover{
    color: #a1a1a1;
    margin-left: 15px;
    background: #f9f9f9 url(./imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
}
.menu_lateral label{
    cursor:pointer;
    display: block;
}
/* Formatação primeiro menu de exibição */
.destaques img,
.entrevistas img{
    border: 4px solid #dfdfdf;
}
h3{
    background: #dfdfdf;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    display: inline;
    color: #000;
    border-radius: 15px 15px 0 0;
}
/* Menu inferior*/
#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
    display: inline-block;
}
#lista-noticias li a img{
    float: left;
    margin: 5px;
}
#lista-noticias li a{
    text-decoration: none;
    font-size: 0.6em;
}

/*Rodapé*/
footer{
    background: #294c71;
    padding: 20px;
    clear: both;
}
.rodape{
   width: 750px;
   margin: 0 auto;
   color: #fff; 
   text-align: left;
}